.first_sec{
	width: 1100px;
	height: 450px;
	position: relative;
	margin-top: -100px;

}
#living h3 {
	font-family: 'Francois One', sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	text-align: end;
	padding: 19px;

}
#living {
	width: 620px;
	background-color: #f3ce00;
	margin-left: 120px;
	margin-top: 145px;
	margin-left: 120px;
	position: relative;
}
.blocks_1 {
	width: 600px;
	height: 650px;
	background-image: url("../assets/blocks_1.png");
	margin-top: -79px;
	float: left;
}
.article_section {
	font-family: 'Lusitana';
	font-size: 13px;
	width: 383px;
	margin: -550px 162px 0 657px;
	float: left;
}
.sec_second {
	height: 500px;
	width: 1200px;
}
#blocks_2 {
	background-image: url("../assets/blocks_2.png");
    height: 463px;
   	margin-left: 115px;
    margin-top: 252px;
    width: 1226px;
    background-repeat: no-repeat;
}
#trust {
	background-color: black;
	width: 1000px;
	height: 120px;
	margin: -90px 0 0 36px;
	padding: 7px;
}
#trust p {
	font-family: 'Francois One';
	font-size: 25px;
	color: white;
	text-align: end;
	margin-right: 33px;
}
.sec_third {
	height: 370px;
	width: 1200px;
}
.sec_third h2 {
	font-family: 'Francois One';
	margin-left: 91px;
	font-size: 35px;
}
#foto_linda {
	width: 130px;
	margin-left: 91px;
}
.Linda {
	margin-left: 255px;
	margin-top: -160px;
	width: 500px;
}
#straight {
  	font-size: 131px;
    margin-left: 816px;
    margin-top: -151px;
}
.sto {
	margin-left: 884px;
    margin-top: -253px;
}
.sto h1 {
	font-size: 100px;
	font-family: 'Francois One'
}
.sto p {
	font-family: "Francois One";
    font-size: 25px;
    margin-top: -125px;
    position: absolute;
}
#comm, #share, #appre {
	width: 197px;
	height: 44px;
	background-color: #f3ce00;
	padding: 1px;
	font-family: 'Francois One';
	font-size: 15px;
	text-transform: uppercase;
	margin: -5px -55px 0 86px;
	border: solid 1 #f3ce00;
}
.bar_media {
	width: 50px;
	height: 150px;
	float: right;
	background-color: black;
    float: right;
    height: 210px;
    position: fixed;
    right: 0px;
    top: 168px;
    width: 80px;
}
.bar_media #fb, #tw, #in {
   	background-color: black;
    border: 0 none;
    height: 50px;
    width: 50px;
    margin-top: 14px;
    margin-left: 17px;
    background-repeat: no-repeat; 
}
#fb {
background-image: url("../assets/fb.png");
}
#tw {
	background-image: url("../assets/tw.png");
}
#in {
	background-image: url("../assets/in.png");
}